@using System
@using System.Text.RegularExpressions

@model IEnumerable<Post>


@{
    ViewData["Title"] = "Blog Posts";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@functions {
    static string RemoveHtmlTags(string input)
    {
        input = input.Replace("&nbsp;"," ");
        return Regex.Replace(input, "<.*?>", String.Empty);
    }
}


@if (Model is not null && Model.Any())
{
    <section class="content">
        <div class="container">

            @if (TempData["Message"] != null)
            {
                <div class="alert alert-@(TempData["MessageType"]) alert-dismissible fade show" role="alert">
                    @TempData["Message"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            <div class="row pt-5">
                <div class="ps-5 col-6">

                    @if (Model != null && Model.ToArray()[0].Status == "draft")
                    {
                        <h1 class="page-heading">Drafts</h1>
                    }
                    else
                    {
                        <h1 class="page-heading">Posts</h1>
                    }

                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container">
            <div class="post row mt-3 g-5">

                @foreach (var post in Model)
                {
                    <div class="col-sm-6 col-md-6 col-lg-4 d-flex  justify-content-center">
                        @*The a tag is used to make the whole post card clickable*@
                        <a asp-controller="Post" asp-action="PostDetails" asp-route-id="@post.Id">
                            <div class="card h-100" style="max-width: 25rem;">
                                @if (String.IsNullOrEmpty(post.PhotoUrl))
                                {
                                    <img src="/img/background1.png" class="card-img-top" alt="..." />
                                }
                                else
                                {
                                    <img src="@post.PhotoUrl" class="card-img-top" alt="..." />
                                }

                                <div class="card-body pb-1">
                                    <div class="row" style=" font-size:12px">
                                        <p class="col fw-bold">@post.User.Name</p>
                                        <p class="col fw-bold text-end">@post.DatePublished.ToString("dd MMMM yyyy")</p>
                                    </div>
                                    <h5 class="card-title">@post.Title</h5>
                                    <p class="card-text">
                                            @(post.Content.Length < 100 ? RemoveHtmlTags(post.Content.Substring(0, post.Content.Length)) : @RemoveHtmlTags(post.Content.Substring(0, 100)))...
                                    </p>
                                </div>

                            </div>
                        </a>

                    </div>
                }
            </div>
        </div>    
   </section>
}else
    {

    <section class="content h-100">
        <div class="container h-100 mt-5 pt-5">

            @if (TempData["Message"] != null)
            {
                <div class="alert alert-@(TempData["MessageType"]) alert-dismissible fade show" role="alert">
                    @TempData["Message"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
                <div class="no-content d-flex justify-content-center align-items-center align-content-center flex-column">
                    <h2 class="page-heading">No Blog Posts</h2>
                    <h4 class="page-heading mt-3">You haven't created any posts.</h4>
                    <img class="mt-3" src="~/img/work-in-progress.png" />
                </div>
            </div>
        </section>
    }

